{
  "env": {
    "cjs": {
      "presets": ["env"],
      "plugins": [
        [
          "nanoutils",
          {
            "cjs": true
          }
        ]
      ]
    },
    "es": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["nanoutils"]
    },
    "test": {
      "presets": [["env"]],
      "plugins": [["nanoutils", { "cjs": true }]]
    }
  }
}
