{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread"
  ]
}
