{
  "presets": ["env"],
  "plugins": [
    [
      "nanoutils",
      {
        "cjs": true
      }
    ],
    [
      "transform-es2015-modules-simple-commonjs",
      {
        "loose": true,
        "strict": false,
        "noInterop": true
      }
    ],
    "transform-flow-comments"
  ],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": [
        [
          "nanoutils",
          {
            "cjs": true
          }
        ]
      ]
    }
  }
}
